<% if @single_room && @single_room.participant?(@single_room, user) %>
  <% isActive = 'Active' %>
<% else %>
  <% isActive = '' %>
<% end %>
<div class="side-user">
  <div>
    <%= link_to image_tag(user.chat_avatar, class: 'avatar'), user %>
  </div>
  <%= link_to user.email, user, class:'username', data: {turbo: 'false'} %>
</div>
