.nav-link {
  height: 20px;
  border-radius: 0.5rem;
  background-color: darkgray;
  margin: 12px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.nav-link:hover {
  background-color: grey;
}

.nav-button {
  height: 40px;
  border-radius: 0.5rem;
  background-color: darkgray;
  margin: 12px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.nav-button:hover {
  background-color: grey;
}

.select-button {
  height: 20px;
  width: 100%;
  min-width: 0;
  max-width: fit-content;
  border-radius: 0.5rem;
  background-color: darkgray;
  color: white;
  padding: 3px 12px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 4px;
}

.select-button:hover {
  background-color: grey;
}
