.message-container {
  padding: 12px;
  width:75%;
  border-left: 2px solid grey;

}

// #single-room {
//   height: calc(100vh - 150px);
//   overflow-y: scroll;
//   overflow-x: hidden;
// }

// #messages {
//   height: calc(100vh - 150px);
//   overflow-y: scroll;
//   overflow-x: hidden;
// }

// #room-container {
//   height: 100vh;
//   margin-right: 0px !important;
// }

// #chatroom-container {
//   height: 100vh ;
//   margin-right: 0px !important;
//   overflow-y: scroll;
//   overflow-x: hidden;
// }

// .msg-content {
//   width: 80%;
//   margin-right: 5px;
// }

// .message-box {
//   word-wrap: break-word;
//   width: fit-content;
//   max-width: 40&
// }
