.message-container {
  padding: 12px;
  width:75%;
  border-left: 2px solid grey;
  overflow-y: hidden;
  overflow-x: hidden;
}

#single-room {
  height: calc(100vh - 150px);
}

#messages {
  height: calc(94vh - 150px);
  overflow-y: scroll;
  overflow-x: hidden;
}

#room-container {
  height: 100vh;
  margin-right: 0px !important;
}

#chatroom-container {
  height: 100vh ;
  margin-right: 0px !important;
  overflow-y: hidden;
  overflow-x: hidden;
}

.msg-content {
  width: 80%;
  margin-right: 5px;
}

.message-box {
  display: flex;
  word-wrap: break-word;
  width: fit-content;
  max-width: 40%;
  border-radius: 0.5rem;
  margin-bottom: 12px;
  background-color: darkgrey;
  color: white;
  padding: 12px;
}

.user_row {
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid #555555;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.user_list_item {
  height: 55px;
  background-color: #343a40 !important;
}
.room_list_item {
  height: 55px;
  background-color: #343a40 !important;
  color: #fff;
}

.name {
  font-weight: bolder;
  margin-top: 4px;
  margin-bottom: 4px;
}
.time {
  font-size: small;
  margin-top: 0px;
  margin-bottom: 8px;
}
