.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: lightgrey;
  justify-content: space-between;
}

.nav-username {
  margin-left: 12px;
  color: white;
  background-color: darkgray;
  padding: 12px;
}

.right-side {
  display: flex;
}
