.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: lightgrey;
  justify-content: space-between;
}

.nav-username {
  margin-left: 12px;
  color: white;
  background-color: rgb(0, 135, 255);
  padding: 12px;
  border-radius: 0.5rem;
}

.bar-group {
  display: flex;
  align-items: center;
  margin-left: 12px;
}
