.side-navbar {
  padding:12px;
  width:25%;
}

.column-title {
  box-sizing: border-box;
  text-align: center;
  padding:8px;
  background:darkgray;
  color:white;
  width: 100%;
}

.side-link {
  margin-bottom: 4px;
}

.side-link a {
  text-decoration: none;
  color: black;
  transition: 0.3s
}

.side-link a:hover {
  color: darkgrey;
}

.side-user {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}

.username {
  overflow: hidden;
}

.side-user a {
  text-decoration: none;
  color: black;
  transition: 0.3s
}

.side-user a:hover {
  color: darkgrey;
}
