/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import "components/navbar";
@import "components/landing-left";
@import "components/landing-right";
@import "components/login-page";
@import "components/messages";
@import "components/side-navpage";
@import "components/buttons";
@import "components/user";
@import "components/attachments";
@import "components/roomlist";

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  overflow: hidden;
}

.landing {
  display: flex;
  height: 94vh;
}

.message-room-container {
  display:flex;
  height: 94vh;
}

.form-box {
  display:flex;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  margin-top: 12px;
}

.input-box {
  width: 100%;
}
