<%= form_with(model: @room, remote: true) do |f| %>
  <div class="form-box">
    <%= f.text_field :name, class: 'form-control', autocomplete: 'off', class:"input-box"  %>
    <%= f.submit data: {disable_with: false}, class:"select-button" %>
  </div>
<% end %>
